<mat-toolbar>Menu</mat-toolbar>
<mat-card class="user-card" *ngIf="userInfo$ | async as userInfo" [appearance]="'outlined'">
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title>{{ userInfo.userDetails }}</mat-card-title>
    <mat-card-subtitle>Welcome Back</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-nav-list>
  <ng-container *ngIf="userInfo$ | async as userInfo; else login">
    <a mat-list-item href="/.auth/logout?post_logout_redirect_uri={{ redirect }}">
      <span class="icon-align">
        <span>Logout</span>
        <mat-icon matListIcon>logout</mat-icon>
      </span>
    </a>
  </ng-container>
  <ng-template #login>
    <ng-container *ngFor="let provider of providers">
      <a href="/.auth/login/{{ provider }}?post_login_redirect_uri={{ redirect }}">
        <span class="icon-align">
          <span>Login</span>
          <mat-icon matListIcon>login</mat-icon>
        </span>
      </a>
    </ng-container>
  </ng-template>
</mat-nav-list>
