<main class="container">
  <header class="brand-name">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/year', currentYear]">{{ title }}</a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <app-nav></app-nav>
  </header>
  <section class="content">
    <app-entry-form *ngIf="userInfo$ | async"></app-entry-form>
    <app-year-navigation></app-year-navigation>
    <router-outlet></router-outlet>
  </section>
</main>
