<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Game/Brand</mat-label>
    <input matInput placeholder="Placeholder" formControlName="game" required />
  </mat-form-field>

  <label for="form-item">What did you paint?</label>
  <input id="form-item" type="text" formControlName="item" required />

  <label for="form-modelCount">Number of models</label>
  <input id="form-modelCount" type="number" formControlName="modelCount" required />

  <label for="form-completionDate">Date of Completion</label>
  <input id="form-completionDate" type="date" formControlName="completedDate" required />
  <button type="submit" class="primary">Add</button>
  <button type="reset" class="">Cancel</button>
</form>
